<div class="row" *ngIf="!newPageLoading">
  <div class="ui grid">
    <div class="four column row">
      <div class="left floated column">

        <div class="ui icon input">
            <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchString" (ngModelChange)="searchInputChanged($event)">
          <i class="search icon"></i>
        </div>

      </div>
      <div class="right aligned floated column">

        <button class="ui green button" routerLink="/add">
          <i class="icon user"></i>
          Add new
        </button>

      </div>
    </div>
  </div>
</div>


    <div class="ui segment" *ngIf="loading" class="loading">
        <div class="ui active  dimmer">
          <div class="ui text loader">Loading</div>
        </div>
        <p></p>
      </div>



<div class="content" *ngIf="!loading">
  <table class="ui celled compact table dataTable">
    <thead>
      <tr>
        <th (click)="sortBy('identifier')" class="tableHeader">Identifier</th>
        <th (click)="sortBy('name')" class="tableHeader">Name</th>
        <th (click)="sortBy('owner')" class="tableHeader">Owner</th>
        <th (click)="sortBy('date_created')" class="tableHeader hidden-xs">Date Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects_array">
        <td>{{ project.identifier }}</td>
        <td>{{ project.name }}</td>
        <td>{{ project.owner }}</td>
        <td class="hidden-xs">{{ project.date_created }}</td>
        <td class="center aligned actions">
            <div class="ui compact menu" (click)="contextMenu(project)" (mouseenter)="contextMenu(project)">
                <div class="ui simple dropdown item">
                  <i class="bars icon"></i>
                  <div class="menu">
                    <div class="item" (click)="editClicked()" [routerLink]="['/projects', project.id]"><i class="edit icon"></i> Edit</div>
                    <div class="item" (click)="descriptionClicked()"><i class="info circle icon"></i> Description</div>
                    <div class="item" (click)="deleteClicked(project)" data-toggle="modal" data-target="#deleteModal"><i class="trash alternate icon"></i> Delete</div>
                  </div>
                </div>
              </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="ui two column centered grid" *ngIf="projects_array.length > 0 && !newPageLoading">
  <div class="column">
    <app-pagination [totalItems]="projectCount" [itemsPerPage]="itemsPerpage" [maxSize]="5" [displayFirstLast]="true" (onPageChanged)="pageClicked($event)"></app-pagination>
  </div>
</div>



<!-- Modal Description -->
<div class="ui modal description" *ngIf="currentProject">
    <div class="header">Description</div>
    <div class="content">
      <p>{{ currentProject.description }}</p>
    </div>
  </div>

<!-- Modal Delete -->
<div class="ui basic modal delete" *ngIf="currentProject">
  <div class="ui icon header">
    <i class="archive icon"></i>
    Confirmation required
  </div>
  <div class="content">
    <p>Are you sure you want to delete: {{ currentProject.name }} ?</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      No
    </div>
    <div class="ui green ok inverted button" (click)="deleteConfirmed()">
      <i class="checkmark icon"></i>
      Yes
    </div>
  </div>
</div>