
<!-- ALERTS -->

<!-- Success alert -->
<div class="alert alert-success alert-dismissible fade in" role="alert" *ngIf="alerts.successMessage">
  <button type="button" class="close" aria-label="Close" (click)="close('successMessage')">
    <span aria-hidden="true">×</span>
  </button>
  <strong>Success!</strong> The project has been updated.
</div>

<!-- Error alert -->
<div class="alert alert-danger alert-dismissible fade in" role="alert" *ngIf="alerts.errorMessage">
    <button type="button" class="close" aria-label="Close" (click)="close('errorMessage')">
      <span aria-hidden="true">×</span>
    </button>
    <strong>Error!</strong> An error occured while contacting the server...
  </div>


  <h2 class="ui header">
    <i class="settings icon"></i>
    <div class="content">
       Project details
      <div class="sub header">Manage your project</div>
    </div>
  </h2>




<form class="ui form" [formGroup]="projectForm">
  <div formGroupName="data">

    <div class="field">
      <label>ID</label>
      <input type="text" id="txtId" name="id" formControlName="id" readonly>
    </div>

    <div class="field">
      <label>Identifier</label>
      <input type="text" 
            id="txidentifier" 
            placeholder="Please enter identifier" 
            name="identifier" 
            formControlName="identifier"
            >
      <div class="ui pointing red basic label" 
            *ngIf="projectForm.controls.data.controls['identifier'].errors?.required && projectForm.controls.data.controls['identifier'].dirty">Identifier is required.</div>
      <div class="ui pointing red basic label"  
            *ngIf="projectForm.controls.data.controls['identifier'].invalid && !projectForm.controls.data.controls['identifier'].errors?.required">Identifier is invalid.</div>
    </div>

    <div class="field">
      <label>Project Name</label>
      <input type="text" id="txtProjectName" placeholder="Please enter project name" name="name" formControlName="name">
      <div class="ui pointing red basic label" *ngIf="projectForm.controls.data.controls['name'].errors?.required && projectForm.controls.data.controls['name'].dirty">Project name is required.</div>
    </div>

    <div class="field">
      <label>Programmers Name</label>
      <input type="text" id="txtProgrammerName" placeholder="Please enter programmer name" name="owner" formControlName="owner">
      <div class="ui pointing red basic label" *ngIf="projectForm.controls.data.controls['owner'].errors?.required && projectForm.controls.data.controls['owner'].errors?.dirty">Owner name is required.</div>
    </div>

    <div class="field">
      <label>Companies</label>
      <select name="skills" multiple="" class="ui fluid dropdown" formControlName="companies" SemanticMultiDropdown>
        <option value="{{company}}" *ngFor="let company of companies$ | async" >{{ company }}</option>
      </select>
    </div>

    <div class="field">
        <label>Description</label>
        <textarea class="form-control" id="txtDescription" placeholder="Please enter description" name="description" formControlName="description"></textarea>
      </div>

      <div class="field">
          <label>Date Created</label>
          <input type="text" class="form-control" id="txtDateCreated" placeholder="Please enter programmer name" name="date_created"
              formControlName="date_created" readonly>
        </div>

  </div>
  <div class="field submit">
      <button class="ui button" (click)="save()" [class.disabled]="!projectForm.valid || projectForm.pristine">
        <i class="save icon"></i>
        Save
      </button>

  </div>
</form>


    <!-- 

      <div class="form-group">
        <div class="col-sm-12">
          <button type="button" class="btn btn-default btn-block" routerLink="/projects">Back</button>
          <button type="submit" class="btn btn-primary btn-block" *ngIf="pageType === 'add'" [disabled]="!projectForm.valid" (click)="add()">Add</button>
          <button type="button" class="btn btn-primary btn-block" *ngIf="pageType === 'edit'" [disabled]="!projectForm.valid || projectForm.pristine" (click)="save()">Edit</button>
        </div>
      </div>

    </form> -->

