
<div class="ui menu">

  <div class="header item">
    Vadym Demo X
  </div>

  <div class="right menu">
    <a class="item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink=""><i class="home icon"></i> Home</a>
    <a class="item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="projects"><i class="archive icon"></i> Projects</a>
    <a class="item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="contacts"><i class="camera icon"></i> Contacts</a>
    <a class="item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="about"><i class="address card icon"></i> About</a>
  </div>

</div>