
<div class="ui menu">

  <div class="header item">
    Vadym Demo X
  </div>

  <div class="right menu">
    <a class="item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="">Home</a>
    <a class="item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="projects">Projects</a>
    <a class="item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="gallery">Gallery</a>
    <a class="item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="about">About</a>
  </div>

</div>