<div class="ui pagination menu" *ngIf="pageArray.length > 0"> 
  <a class="item" href="" (click)="goToFirst()"  *ngIf="displayFirstLast"  [class.disabled]="activePage == 1">First</a>
  <a class="item" href="" (click)="prevClick()"  [class.disabled]="activePage == 1">Prev</a>
  <a class="item" href="" *ngFor="let page of pageArray ; let i = index" [class.active]="activePage === page" (click)='clicked(page)'>{{ page }}</a>
  <a class="item" href="" (click)="nextClick()"  [class.disabled]="activePage == actualPageCount">Next</a>
  <a class="item" href="" (click)="goToLast()"  *ngIf="displayFirstLast"  [class.disabled]="activePage == actualPageCount">Last</a>
</div>
