/* You can add global styles to this file, and also import other style files */
.formError {
    color: red;
    font-weight: bold;
}

html, body {
    background-color: #fffdefba;
}

@media (max-width: 768px){
    .container-fluid {
        padding: 0;
    }
}