/* You can add global styles to this file, and also import other style files */
.formError {
    color: red;
    font-weight: bold;
}

@media (max-width: 768px){
    .container-fluid {
        padding: 0;
    }
}

body {
    background-image: url('./assets/background.png');
}

.hidden {
    display: none;
}