<div class="ui piled segment">
    <h2>Welcome to Demo X project</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pulvinar, leo id feugiat lacinia, ex nunc viverra nisi, non hendrerit elit ante viverra urna.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>


<h4 class="ui horizontal divider header">
  <i class="newspaper icon"></i>
  Latest news
</h4>


<div class="ui grid">
    <div class="four wide column">

      <div class="ui card">
          <a class="image" href="#">
            <img src="./assets/f9seR.jpg">
          </a>
          <div class="content">
            <a class="header" href="#">Thumbnail label</a>
            <div class="meta">
              <a>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</a>
            </div>
          </div>
        </div>

    </div>
    <div class="four wide column">

      <div class="ui card">
          <a class="image" href="#">
            <img src="./assets/pexels-photo-257360.jpeg">
          </a>
          <div class="content">
            <a class="header" href="#">Thumbnail label</a>
            <div class="meta">
              <a>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</a>
            </div>
          </div>
        </div>

    </div>
    <div class="four wide column">

      <div class="ui card">
        <a class="image" href="#">
          <img src="./assets/IMG_6954-1024x682.jpg">
        </a>
        <div class="content">
          <a class="header" href="#">Thumbnail label</a>
          <div class="meta">
            <a>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</a>
          </div>
        </div>
      </div>

    </div>
    <div class="four wide column">
      <div class="ui card">
          <a class="image" href="#">
            <img src="./assets/pexels-photo-236047.jpeg">
          </a>
          <div class="content">
            <a class="header" href="#">Thumbnail label</a>
            <div class="meta">
              <a>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</a>
            </div>
          </div>
        </div>
        
    </div>
  </div>





